.product-details {
  max-width: 1200px;
  margin-bottom: 3rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  position: relative;
  align-items: start;
}

.product-details .img-con {
  width: 100%;
  position: sticky;
  top: 9rem;
}

.product-details img {
  border-radius: 12px;
  width: 100%;
  object-fit: cover;
}

.product-info h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #000;
}

.product-info p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #333;
}

.product-price {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #000;
}

.product-specs {
  margin-block: 2rem;
  background: #fafafa;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: 1px solid #eee;
}

.product-specs h3 {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  color: #000;
}

.product-specs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-specs li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.product-specs li strong {
  color: #000;
}

.options {
  margin-bottom: 1rem;
}

.options label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.options select {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.size-options {
  display: flex;
  gap: 1rem;
}

.size-btn {
  padding: 0.7rem 1.2rem;
  border-radius: 10px;
  border: 2px solid #ccc;
  background: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.size-btn:hover {
  border-color: #000;
  transform: scale(1.05);
}

.size-btn.active {
  background: #000;
  color: #fff;
  border-color: #000;
}

.size-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.color-options {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.color-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #ccc;
  cursor: pointer;
  transition: 0.3s;
}

.color-btn:hover,
.color-btn.active {
  border: 3px solid #000;
  transform: scale(1.1);
}

.btn-buy {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
  border: 1px solid #000;
}

.btn-buy:hover {
  background-color: #fff;
  color: #000;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#warning-message {
  position: fixed;
  top: 0px;
  left: 40%;
  z-index: 9999;

  opacity: 0;
  visibility: hidden;

  background: #ffe0e0;
  border: 1px solid #ff4d4d;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  font-size: 0.95rem;
  color: red;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease;
}

#warning-message.active {
  top: 20px;
  opacity: 1;
  visibility: visible;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-8px);
  }
  40%,
  80% {
    transform: translateX(8px);
  }
}

#warning-message.shake {
  animation: shake 0.5s;
}

@media (max-width: 768px) {
  .product-details {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .color-options {
    justify-content: center;
  }
  .product-details .img-con {
    top: 0;
    position: relative;
  }
  product-specs {
    margin-block: 1rem;
  }

  .product-swiper {
    max-width: 100vw !important;
  }

  .swiper-button-prev {
    background: none;
    color: #333 !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    color: #000;
    font-size: 24px;
    transition: 0.2s ease;
  }
}

@media (max-width: 540px) {
  #warning-message {
    left: 25%;
    font-size: 0.8rem;
  }
  #warning-message.active {
    top: 12px;
    opacity: 1;
    visibility: visible;
  }

  .product-details {
    gap: 0;
  }

  .color-options {
    justify-content: start;
  }

  .product-info h1 {
    font-size: 1.5rem;
  }

  .product-info p {
    font-size: 1rem;
  }

  .product-price {
    font-size: 1.5rem;
  }

  .btn-buy {
    width: 100%;
    text-align: center;
  }
}

/* ----- test -----  */

.product-swiper {
  width: 100%;
  max-width: calc(500px - 10vw); /* أقصى عرض للسلايدر */
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
}

.product-swiper img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  max-height: 70vh; /* يمنع الصور الطويلة */
}

/* الأسهم */
.swiper-button-next,
.swiper-button-prev {
  background: #fff !important;
  width: 40px !important;
  height: 40px !important;
  color: #000 !important;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}

.swiper-button-next i,
.swiper-button-prev i {
  pointer-events: none;
}

/* hover */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #fff !important;
  background: #000 !important;
  transform: scale(1.1);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

/* إزالة الأسهم الافتراضية */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* النقاط */
.swiper-pagination-bullet {
  background: #000 !important;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background: #000 !important;
  opacity: 1;
}
